html {
	font-family: Roboto, system-ui, '.SFNSText-Regular';
}

.justify {
	text-align: justify;
}

#divider {
	margin-top: 0px;
}

img.hover-shadow {
  transition: 0.2s;
}

.hover-shadow:hover {
  cursor: pointer;
  box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.5)
}

/* Defaults */
#content-title {
	font-size: 30px;
	margin-bottom: 0px;
}
#content-textarea {
	font-size: 18px;
}
.resource-list {
	margin-top: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.resource {
	max-width: 120px;
}

#suggester {
	margin-bottom: 10px;
}

#next-page-btn {
	float: right;
}

/* For Mobile */
@media screen and (max-width: 540px) {
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
}

/* For Computers */
@media screen and (min-width: 780px) {
	#content-title {
		font-size: 30px;
		margin-bottom: 0px;
	}
	#content-textarea {
		font-size: 18px;
	}
	.resource-list {
		margin-top: 10px;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}
	.resource {
		margin-left: 2px;
		margin-right: 2px;
		max-width: 150px;
		max-height: 150px;
		object-fit: contain;
	}
}

.scene-element {
	animation-duration: 0.3s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
}

.scene-element--fadeinright {
	animation-name: fadeInRight;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}