html {
  font-family: Roboto, system-ui, '.SFNSText-Regular', sans-serif;
}

body {
margin: 0;
padding: 0;
}

.no-drag {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.hover-shadow:hover {
	cursor: pointer;
	box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5)
}

.hover-shadow {
	transition: 0.2s;
}